<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!-- 	<bean id="ipService" class="ar.com.airdrop.services.IpService"> -->
<!-- 	</bean> -->

<!-- 	<bean id="pcService" class="ar.com.airdrop.services.PcService"> -->
<!-- 	</bean> -->
<!-- 	<bean id="envioService" class="ar.com.airdrop.services.EnvioService"> -->
	    
<!-- 	</bean> -->
<!-- 	<bean id="recepcionService" class="ar.com.airdrop.services.RecepcionService"> -->
<!-- 	</bean> -->
<!-- 	<bean id="archivoService" class="ar.com.airdrop.services.ArchivoService"> -->
<!-- 	</bean> -->
<bean id="AService" class="services.AService">
</bean>
	



</beans>